extends template/main

append vars
  -
    page_title= 'Главная'
block content
  .section
    .products
      //.product
      //  h1 Клевая футболка
      //  p Цена:
      //    strong(data-price='500') 500тг
      //  button(data-j-id="9").add_product Добавить
      //.product
      //  h1 Клевая футболка
      //  p Цена:
      //    strong(data-price='1500') 1500тг
      //  button(data-j-id="8").add_product Добавить

    h2.product_info Товаров:
      strong.product_cnt 0
      | На сумму:
      strong.product_sum 0
       span тг
